<%= form_for([@location, @event], html: {:class => "form-horizontal"}) do |f| %>

<div class="form-group">
  <div class="field">
    <%= f.label :description, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :date, :class => 'control-label col-md-2' %>

    <div class='form-controls col-md-4'>
      <%= f.date_field :date, :class => 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-1 col-md-1">
    <b>Requires Identification?</b>
  </div>

  <div class="col-md-4">
    <%= f.check_box(:requires_id) %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <%= f.submit @submit_name, :class => 'btn btn-primary'%>
    <% unless @event.description == nil %>
    <%= link_to 'Delete', location_event_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
    <% end %>
    <%= link_to 'cancel', locations_path, class: 'btn btn-default'%>
  </div>
</div>

<% end %>
