<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit Location', edit_location_path, :class => "btn btn-info" %>
  </div>
  <h1><%= @location.name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/locations">Locations</a></li>
  <li class="active"><%= @location.name %></li>
</ol>

<dl class="dl-horizontal">
  <p>
    <dt>Name</dt>
    <dd><%= @location.name %></dd>
  </p>
  <p>
    <dt>Address</dt>
    <dd><%= @location.address %></dd>
  </p>
  <p>
    <dt>Zip Code</dt>
    <dd><%= @location.zipcode %></dd>
  </p>
</dl>

<h1><%= @location.name %>'s Events</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Requires ID?</th>
    </tr>
  </thead>

  <tbody>
    <% @location.events.each do |event| %>
    <tr>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
      <td><%= event.requires_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
