<!DOCTYPE html>
<html>
<head>
  <title>CaseyKellyWeek5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Casey Kelly</a>
      </div>
    </div>
  </div>

  <div class="container">

    <% flash.each do |type, message| %>
    <% if type == "notice" %>
    <div class="alert alert-success"><b><center><%= message %></b></center></div>
    <% elsif type == "alert" %>
    <div class="alert alert-danger"><b><center><%= message %></b></center></div>
    <% end %>
    <% end %>

    <%= yield %>

    <footer>
      <div class="row">
        <div class= "col-md-6">
        </div>
      </div>
    </footer>

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
